    .navmenu {
        display: flex;
        justify-content: flex-end;
        /* align-items: center; */
        width: 100vw;
        height: 8vh;
        background-color: rgb(13, 7, 48);
    }
    
    .navmenu .icons {
        margin-right: -88px;
    }
    
    .navmenu .icons:hover {
        cursor: pointer;
    }
    
    .navmenu .upper {
        display: flex;
        margin-right: 28px;
    }
    
    .icon {
        margin-right: 6px;
    }
    
    .follow {
        display: flex;
    }
    
    .follow li {
        list-style: none;
        margin: 10px 5px;
    }
    
    .proicon {
        display: flex;
        align-items: center;
        height: 8vh;
    }
    
    .profile:hover {
        display: block;
        cursor: pointer;
    }
    
    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        color: rgb(13, 7, 48);
        width: 78px;
        height: 28px;
        font-weight: bold;
    }
    
    .login:hover {
        box-shadow: -2px -2px 20px whitesmoke;
        cursor: pointer;
    }
    
    .download {
        background-color: rgb(11, 224, 11);
        border: 5px solid rgb(11, 224, 11);
        border-radius: 2px;
        color: white;
    }
    
    .searchbox .input {
        height: 6vh;
        width: 60vw;
        border-radius: 15px;
        border: 2px solid rgb(12, 194, 12);
        background: rgb(13, 7, 48);
        padding-left: 15px;
        color: white;
    }
    
    .searchbox .submit:hover {
        cursor: pointer;
    }
    
    .searchbox .submit {
        height: 6vh;
        width: 80px;
        border: 2px solid white;
        border-radius: 22px;
        background-color: rgb(14, 187, 14);
        color: white;
        font-weight: bold;
    }
    
    .searchbox {
        margin-top: 10px;
        position: relative;
        display: flex;
        height: 5vh;
        justify-content: center;
    }
    
    .userlog {
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        font-weight: bold;
        flex-direction: column;
    }
    
    .email {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .userlog h1 {
        margin-bottom: 10px;
    }
    
    .password {
        margin-top: 15px;
    }
    
    .btn {
        margin-bottom: 15px;
        padding: 15px;
    }
    
    .button {
        width: 100%;
        height: 35px;
        color: aliceblue;
        font-size: 1.2rem;
        background-color: rgb(14, 187, 14);
        border-radius: 15px;
        border: 2px solid white;
        font-weight: bold;
    }
    
    .button:hover {
        cursor: pointer;
    }
    
    .userlog form {
        display: block;
        width: 60%;
    }
    
    .userlog form input {
        background-color: black;
        font-size: 1.1rem;
        height: 35px;
        color: white;
        width: 100%;
    }
    
    .userlog form input:focus {
        background-color: black;
        color: white;
    }
    
    .logo {
        display: flex;
        background-color: rgb(13, 7, 48);
        justify-content: flex-start;
        height: 8vh;
        width: 100vw;
        align-items: center;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        padding-left: 56px;
        color: white;
        position: relative;
    }
    
    .hidden {
        display: none;
    }
    
    .sudden {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        width: 100vw;
    }
    
    .container {
        margin-top: 90vh;
        padding: 0 15px;
        position: relative;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }
    
    .navul .navli {
        display: block;
        padding: 8px 16px;
        background-color: rgb(13, 7, 48);
        border: 2px solid white;
        margin: 5px 12px;
        border-radius: 5px;
        color: white;
    }
    
    .navulopen .navli:hover {
        cursor: pointer;
    }
    
    .opendata {
        color: white;
    }
    
    .renderimg {
        width: 100%;
    }
    
    .cards {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        background-color: black;
    }
    
    .cardimg {
        width: 100%;
        border-radius: 15px;
    }
    
    .footer {
        background-color: black;
        justify-content: center;
        height: 5vh;
        width: 100vw;
        display: flex;
        color: white;
    }
    
    .foot {
        margin: 5px 12px;
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }
    
    .social {
        margin: 5px 0;
        display: flex;
        text-align: center;
    }
    
    .card {
        padding: 15px 25px;
        margin: 19px 28px;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        box-shadow: 5px 5px rgb(18, 216, 18);
    }
    
    .text {
        display: flex;
        flex-direction: column;
    }
    
    .head {
        text-align: center;
        font-size: 3rem;
    }
    
    .tag {
        color: rgb(18, 216, 18);
        font-weight: bold;
    }
    
    .fool:hover {
        cursor: pointer;
    }
    
    .constant {
        color: white;
        position: absolute;
        height: 70vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .const {
        position: relative;
        background-color: black;
        margin-top: 20vh;
        z-index: -1;
        text-align: center;
        height: 80vh;
        width: 90vw;
        display: flex;
        border-radius: 2rem;
        justify-content: center;
        align-items: center;
    }
    
    .div1 .fool {
        background-color: green;
        margin: 12px 182px;
        padding: 5px 12px;
        border-radius: 2rem;
        color: white;
    }
    
    .div1 {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        height: 100%;
        flex-direction: column;
    }
    
    .div2 {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    }